body {
    color: red;
    width: 100%;
    margin: 0px;
}

#topp {
    background-color: darkgoldenrod;
    position: fixed;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

#itopp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#main {
    
    margin: 0 30%;
    margin-top: 10px;
    padding-top: 30px;

}